/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. 
 *  
*/
.notificationDefault
{
    -webkit-transition: top 500ms ease-in;
    -moz-transition: top 500ms ease-in;
    -o-transition: top 500ms ease-in;
    transition: top 500ms ease-in;


    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    height: 100px;
    top: -100px;
    border: 1px solid;
    color: #fff;
    padding: 25px;
    position: fixed;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
/*    -webkit-animation: animate-bg 5s linear infinite;*/
/*    -moz-animation: animate-bg 5s linear infinite;*/
    
    font-size: 1.5em;
}

.notificationDefault.basicNotificationShown{
    top: 0px;
}

.info
{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.error
{
    background-color: #de4343;
    border-color: #c43d3d;
}

.warn
{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.success
{
    background-color: #61b832;
    border-color: #55a12c;
}

.debug
{
    background-color: #00a9a3;
    border-color: #04efe7;
}

.message h3
{
    margin: 0 0 5px 0;
}

.message p
{
    margin: 0;
}

@-webkit-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}

@-moz-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}

